.FilterTextGroup{
  margin-bottom: 10px;

  input{
    height: 25px;
    width: 12px;
    border: 1px solid #D9DEE4;
    border-radius: 3px;
    background-color: #F9FAFB;
    padding: 0 10px;
    font-size: 14px;
    margin: 0 7px;
  }
}