.table {
  display: table;
  min-width: 50%;
  margin: 50px auto;
  border: solid 2px #B2BABB;
  background-color: #F2F5F8;
  border-radius: 4px;
  padding: 4px;
  border-spacing: 2px;

  a{
    text-decoration: none;
    color: #000;

    &:hover .table-td{
      background-color: #FBFBFB;
    }
  }

  .table-row{
    display: table-row;
    background-color: #fff;
    min-height: 56px;
    box-shadow: 0 1px 3px 0 rgba(42, 47, 54, 0.12);
    border-radius: 3px;
    font-size: 14px;
    text-align: center;

    &.head{
      font-weight: bold;
    }

    .table-td{
      display: table-cell;
      padding: 10px;
      border-radius: 4px;

    }
  }

  .row-link{
    border: solid 3px olive;
  }
}
