.FilterNumberGroup{
  input{
    height: 25px;
    width: 17px;
    border: 1px solid #D9DEE4;
    border-radius: 3px;
    background-color: #F9FAFB;
    padding: 0 10px;
    font-size: 14px;
    margin: 0 7px;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }
}
